$primary-blue: #1AA6CB;
$basic-black: #373A42;
$basic-darker-gray: #A6AAB1;
$background-gray: #f6f8f8;
$icon-gray: #8D8F93;

$tablet: 750px;

$gridcolumns: 12;
$gridgutter: 32px;

$gridwidth: 100%;
$gridwidtht: 90%;
