
.icon-calendar-check-line-1:before { content: '\e800'; } /* '' */
.icon-home-2-line-1:before { content: '\e801'; } /* '' */
.icon-map-2-line-1:before { content: '\e802'; } /* '' */
.icon-user-3-line-1:before { content: '\e803'; } /* '' */
.icon-qr:before { content: '\e804'; } /* '' */
.icon-lupa:before { content: '\e805'; } /* '' */